<div ng-controller = 'DashboardController'>

	<a href = '' ng-click = 'logout()'>Logout</a>

	<h2>Welcome, <span ng-bind = 'username'></span>!</h2>

	<table>
		<thead>
			<tr>
				<th>Category</th>
				<th>Topic</th>
				<th>User Name</th>
				<th>Posts</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat = 'topic in topics | orderBy:createdAt:true track by $index'>
				<td ng-bind = 'topic.category.name'></td>
				<td><a href = '' ng-click = 'show(topic)' ng-bind = 'topic.name'></a></td>
				<td ng-bind = 'topic.user.name'></td>
				<td ng-bind = 'topic.posts.length'></td>
			</tr>
		</tbody>
	</table>

	<h3>Add a New Topic</h3>
	<p ng-repeat = 'error in errors' ng-bind = 'error'></p>
	<form ng-submit = 'addTopic()'>
		<label>Topic</label>
		<input type = 'text' ng-model = 'newTopic.name'>
		<label>Description</label>
		<textarea ng-model = 'newTopic.description'></textarea>
		<label>Category</label>
		<select ng-model = 'newTopic.category' ng-options = 'category as category.name for category in categories'>
			<option value = '' disabled>Choose a Category</option>
		</select>
		<input type = 'submit' value = 'Submit'>
	</form>
</div>