<div ng-controller = 'TopicController'>

	<a href = '#/dashboard'>Dashboard</a>
	<a href = '' ng-click = 'logout()'>Logout</a>

	<p><span ng-bind = 'topic.user.name'></span> posted a topic:</p>

	<h3 ng-bind = 'topic.name'></h3>
	<h4>Description: <span ng-bind = 'topic.description'></span></h4>

	<h4>Post your answer here:</h4>
	<p ng-bind = 'error'>
	<form ng-submit = 'addPost()'>
		<textarea ng-model = 'newPost.text'></textarea>
		<input type = 'submit' value = 'Post'>
	</form>

	<!--ANSWERS-->
	<div ng-repeat = 'post in topic.posts'>
		<p><span ng-bind = 'post.user.name'></span>: <span ng-bind = 'post.text'></span></p>
		<p>Upvotes: <span ng-bind = 'post.upvotes'></span> Downvotes: <span ng-bind = 'post.downvotes'></span></p>
		<p ng-repeat = 'comment in post.comments'><span ng-bind = 'comment.user.name'></span>: <span ng-bind = 'comment.text'></span></p>
		<form ng-submit = 'addComment(post)'>
			<textarea ng-model = post.newComment></textarea>
			<input type = 'submit' value = "Comment">
		</form>
	</div>

</div>